# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#IntelliJ Files
.idea/
*.iml

# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

#VSCode Files
.vscode/
.classpath
.project
.settings/

# Ignore Mac system files
.DS_store
